.bookings-div {
    height: 87.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('../images/bookingbackground.png') no-repeat center center;
    background-size: cover;
}

.bookings-container {
    max-width: 1000px;
    max-height: 82vh;
    margin: 20px auto;
}

.table-container {
    max-height: 75vh;
    overflow-y: auto;
    scrollbar-width: none;
}

/* For WebKit browsers (Chrome, Safari) */
.bookings-container::-webkit-scrollbar {
    display: none;
}

.bookings-container h2 {
    color: white;
    text-align: center;
    font-size: 28px;
}

.success-alert {
    position: fixed;
    top: 80px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.5s ease;
}


/* Table container for responsiveness */
.bookings-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.bookings-table thead {
    background: rgba(255, 255, 255, 0.2);
    position: sticky;
    top: 0;
    z-index: 10;
}

.bookings-table th {
    font-size: 15px;
    text-align: left;
    padding: 12px;
    color: white;
    text-transform: uppercase;
}

.bookings-table tbody tr {
    transition: background 0.3s ease;
}

.bookings-table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.bookings-table tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.bookings-table td {
    padding: 12px;
    color: white;
    font-size: 16px;
}

.bookings-table button {
    padding: 7px 18px;
    border: none;
    font-size: 16px;
    border-radius: 15px;
    margin-right: 10px;
    color: white;
    background: rgb(51, 162, 214);
    cursor: pointer;
}

.bookings-table button:hover {
    opacity: 0.9;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.brand-name {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    margin-left: auto;
    display: flex;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 17px;
}

.navbar-links a:hover {
    text-decoration: underline;
}