/* EventCategories.css */
.categories {
    text-align: center;
    margin-top: 60px;
    height: 300px;
    padding-top: 15px;
}

.event-categories {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    position: relative;
}

.category-card {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.category-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.category-card:hover img {
    transform: scale(1.1);
}

.category-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50%;
}

.category-card:hover::after {
    opacity: 1;
}

.category-card:hover {
    cursor: pointer;
}

/* All Categories Modal */
.all-categories-modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all-categories .category-item {
    margin: 20px;
    flex: 1 1 150px;
}