.category-manager-div {
    height: 89.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('../images/bookingbackground.png') no-repeat center center;
    background-size: cover;
}

.category-manager-container {
    max-width: 800px;
    width: 100%;
    max-height: 82vh;
}

.category-table-container {
    max-height: 70vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.category-manager-container h2 {
    color: white;
    font-size: 28px;
    margin-bottom: -35px;
}

.create-category-button button{
    padding: 9px 18px;
    border: none;
    font-size: 15px;
    border-radius: 15px;
    margin-right: 10px;
    color: white;
    background: rgb(51, 162, 214);
    cursor: pointer;
}

.category-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.category-table thead {
    background: rgba(255, 255, 255, 0.2);
    position: sticky;
    top: 0;
    z-index: 10;
}

.category-table th {
    font-size: 15px;
    text-align: left;
    padding: 12px;
    color: white;
    text-transform: uppercase;
}

.category-table td {
    padding: 12px;
    color: white;
    font-size: 16px;
}

.category-table tbody tr {
    transition: background 0.3s ease;
}

.category-table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.category-table tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.category-table button {
    padding: 7px 18px;
    border: none;
    font-size: 15px;
    border-radius: 15px;
    margin-right: 10px;
    color: white;
    background: rgb(51, 162, 214);
    cursor: pointer;
}

.category-table button:hover {
    opacity: 0.9;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.brand-name {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    margin-left: auto;
    display: flex;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 17px;
}

.navbar-links a:hover {
    text-decoration: underline;
}